body{
    background: darkblue;
}
.inner{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.starterOfBody{
    display: flex;
    color: white;
}
.answerbutton{
    color: darkblue;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.ender{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.answerbutton button{
    background: white;
    align-items: center;
    width: 200px;
    border-radius: 10px;
    height: 25px;
    margin-top: 10px;
}