body {
    background: rgba(12, 3, 3, 0.849);
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    background: rgb(160, 159, 159);
    border-radius: 5px;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;   
}

.firstNav {
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50%;
}
.firstheader{
    display: flex;
}
h1.h {
    margin-left: 10px;
}

.secondNav {
    margin-left: auto;
}

.secondGen {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.i{
    font-size: 29px;
}
.videos, .people, .followers {
    flex: 1;
    margin: 0 10px;
}

.red2, .red {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #000;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerpart {
    margin-left: 5px;
}

.first {
    width: 100%;
}

.second {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.second img {
    width: 400px;
    height: 350px;
}

.internal {
    display: flex;
    gap: 10px;
}

.love:active {
    color: red;
}

.comment:active {
    color: blue;
}

.endernav {
    background: rgb(160, 159, 159);
    border-radius: 5px 5px 0px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;   
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 10px 0;
}

.endernav i {
    color: grey;
}

.endernav i:active {
    color: black;
}

.plus {
    color: black;
    background-color: lightgray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
}

.plus i {
    margin: auto;
    margin-top: 8px;
}

@media(max-width: 600px) {
    .videos {
        background: transparent;
        color: transparent;
    }
}
.love.liked {
    color: red;
}